@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #2f1610;
}
.sidebar-top {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f1610;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
.sidebar-top a {
    text-decoration: none;
    font-size: 3.8vh;
    color: #c8c3bc;
    display: block;
    align-items: center;
    padding: 0.2vh;
    justify-content: center;
    padding-bottom: 15px;
  }
  
.sidebar-top a:hover {
    color: #ab5232;
  }


.Home {
    margin-top: 100px;
    margin-left: 120px;
}
h1 {
    font-size: 4.5em;
    font-weight: 200;
    font-family: "Playfair Display";
    color: #d1cdc7;
    padding-bottom: 40px;
}

p {
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.9em;
    line-height: 1.765em;
    color: #a69e92;
  }

.box {
    display: inline-block;
    padding: 5px;
    margin-right: 40px;
    vertical-align: top;
}

h3 {
    font-weight: 400;
    font-family: "Playfair Display";
    font-size: 2.5em;
    color: #d1cdc7  ;
  }

li {
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.9em;
    /* line-height: 1.765em; */
    color: #a69e92;
  }

.box a {
    text-decoration: none;
    color: #55a9e2;
  }

.box a:hover {
    color: #ab5232;
  }



.education {
    margin-top: 125px;
    margin-left: 115px;
}  

h2 {
    font-weight: 400;
    font-family: "Playfair Display";
    font-size: 3em;
    color: #94b4de;
  }

.inst {
    font-weight: 600;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1em;
    /* line-height: 1.765em; */
    color: #d1cdc7;
  }

.projects {
    margin-top: 125px;
    margin-left: 115px;
}  

.skills {
    margin-top: 125px;
    margin-left: 115px;
}  

.skillsvg > div {
    display: inline-block;
    margin: 10px;
  }
  
.skillsvg img {
    height: 2em;
    width: 2em;
  }
  
.skilltext {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1em;
    color: #c8c3bc;
    margin-left: 10px;
    bottom: 8px;
  }

  .contact {
    margin-top: 125px;
    margin-left: 115px;
}  

.contact > div {
    display: inline-block;
    margin: 80px;

  }

.contact > div > a {
    margin-left: 60px;
  }

.ico {
    font-size: 3rem;
    color: #c8c3bc;
    padding-bottom: 6%;
  }

.ico:hover{
    color: #ab5232;
  
  }
